* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(173, 193, 13, 1) 38%, rgba(0, 212, 255, 1) 100%);
}

.new {
    color: white;
}